{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Online sompyler{% endblock %}
{% block main %}
<p>Bad request. Something is wrong with your input data.</p>

<pre>{{ error_message }}</pre>


{% endblock %}
