{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Online sompyler{% endblock %}
{% block main %}
<p>Authentication required <span onclick="confirm('Never logged in: {{ list_users }}');">to</span> spawn heavy calculation tasks at the server side.</p>

<p><strong>Q: How can I sign in?</strong><br>
A: Without personal contact with the domain owner (besides email), you simply cannot sign in, sorry.
 This is a private online instance of <a href="https://gitlab.com/flowdy/neusician">Neusician</a>,
a HTTP wrapper around <a href="https://gitlab.com/flowdy/sompyler">Sompyler</a>, off-line
script-oriented sound and music synthesizer, both leisure projects of mine in the endeavour
of a structuralistic approach to music and acoustics.</p>

<p>With a command of python3, feel free to deploy either or both on a device of yours. It is all GPL.
Please understand that I can provide limited support only to those who do not expect automatic or guided
installation.</p>


{% endblock %}
