{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Chain construction tool{% endblock %}

{% block main %}

<style>
input { width: 3em; }
p span { border: 1px solid lightgrey; }
td { height: 1.5em; min-width: 1.5em; }
td.marked, td:hover { outline: 2px outset orange; }
td.recently-marked { background-color: orange; }
table { border-collapse: collapse; }
tr { margin: 0; padding: 0; }
td { margin: 0; padding: bottom; border: 1px solid grey; } /* border:3px inset grey; */
td div { background-color: lightgrey; height: 100%; width: 100%; border-radius: 40%; }
td.active-lane div { background-color: grey; }
td.active-lane.recently-marked div { background-color: #444; }
td.merge-left { margin-left: 0; padding-left: 0; border-left: none; }
td.merge-left div { margin-left: 0; }
td:is(.edge-top-left, .str-left, .str-top) div { border-top-left-radius: 0; }
td:is(.edge-bottom-left, .str-left, .str-bottom) div { border-bottom-left-radius: 0; }
td.merge-right { margin-right: 0; padding-right: 0; border-right: none; }
td.merge-right div { margin-right: 0; }
td:is(.edge-top-right, .str-right, .str-top) div { border-top-right-radius: 0; }
td:is(.edge-bottom-right, .str-right, .str-bottom) div { border-bottom-right-radius: 0; }
td.merge-top { margin-top: 0; padding-top: 0; border-top: none; }
td.merge-top div { margin-top: 0; }
td:is(.edge-top-left, .str-top, .str-left) div { border-top-left-radius: 0; }
td:is(.edge-top-right, .str-top, .str-right) div { border-top-right-radius: 0; }
td.merge-bottom { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }
td.merge-bottom div { margin-bottom: 0; }
td:is(.edge-bottom-left, .str-bottom, .str-left) div { border-bottom-left-radius: 0; }
td:is(.edge-bottom-right, .str-bottom, .str-right) div { border-bottom-right-radius: 0; }
th .ui-spinner { width: 4em; }
div.tone-select, div.accidental-select, div.octave-select { float: left; text-align: center; margin:1em; }

</style>

<form method="get" action=""><p>cols: <input name="cols" type="number" value="{{ cols }}" /> | rows: <input name="rows" type="number" value="{{ rows }}" /> | base: <input name="base" type="number" value="{{ base }}" /> <button type="submit">Render table</button></p></form>

<script src="{{ url_for('static', filename='chain-tool.js') }}">
</script>
<table style="">
<tr><th>#</th>{% for c in range(cols) %}<th>{{ c }}</th>{% endfor %}<th rowspan="{{ rows + 1 }}" style="width: 6em;">
<button id="dropper">Raus</button><br>
l: <input class="in-l" min="0"><br>
r: <input class="in-r" min="0"><br>
u: <input class="in-u" min="0"><br>
d: <input class="in-d" min="0"><br>
<button id="adder">Rein</button>
</th></tr>
{% for r in range(rows) %}
<tr><th>{{ rows-r-base-1 }}</th>
{% for c in range(cols) %}<td></td>{% if r == 0 %}{% endif %}{% endfor %}
</tr>
{% endfor %}
</table>

<fieldset id="tones">
<label title="Base tones">
<div class="tone-select">
<span>
<label for="tone-c">C</label><input type="radio" name="tone" id="tone-c" value="C">
<label for="tone-d">D</label><input type="radio" name="tone" id="tone-d" value="D">
<label for="tone-e">E</label><input type="radio" name="tone" id="tone-e" value="E">
<label for="tone-f">F</label><input type="radio" name="tone" id="tone-f" value="F">
</span>
<br>
<span>
<label for="tone-g">G</label><input type="radio" name="tone" id="tone-g" value="G">
<label for="tone-a">A</label><input type="radio" name="tone" id="tone-a" value="A">
<label for="tone-b">B</label><input type="radio" name="tone" id="tone-b" value="B">
</span>
</div>
<div class="accidental-select">
<span>
<label title="flat sign" for="acc-flat">♭</label><input type="radio" name="acc" id="acc-flat" value="b">
<label title="sharp sign" for="acc-sharp">♯</label><input type="radio" name="acc" id="acc-sharp" value="#">
</span><br><span>
<label title="natural sign" for="acc-natural">♮</label><input type="radio" name="acc" id="acc-natural" value="">
</span>
</div>
<div class="octave-select">
<span>
<label for="oct-0">0</label><input type="radio" name="octave" id="oct-0" value="0">
<label for="oct-1">1</label><input type="radio" name="octave" id="oct-1" value="1">
<label for="oct-2">2</label><input type="radio" name="octave" id="oct-2" value="2">
<label for="oct-3">3</label><input type="radio" name="octave" id="oct-3" value="3">
<label for="oct-4">4</label><input type="radio" name="octave" id="oct-4" value="4">
</span>
<br>
<span>
<label for="oct-5">5</label><input type="radio" name="octave" id="oct-5" value="5">
<label for="oct-6">6</label><input type="radio" name="octave" id="oct-6" value="6">
<label for="oct-7">7</label><input type="radio" name="octave" id="oct-7" value="7">
<label for="oct-8">8</label><input type="radio" name="octave" id="oct-8" value="8">
</span>
</div>
</fieldset>
<fieldset id="mask">
<label>Mask</label>
<div class="chord-type-select">
<span>
<label for="ch-maj">&amp;</label><input type="radio" name="mask" id="ch-maj" value="&amp;">
<label for="ch-m">m</label><input type="radio" name="mask" id="ch-m" value="m">
<label for="ch-dim">dim</label><input type="radio" name="mask" id="ch-dim" value="dim">
<label for="ch-aug">aug</label><input type="radio" name="mask" id="ch-aug" value="aug">
<span>
<span>
<label for="ch-7">&amp;7</label><input type="radio" name="mask" id="ch-7" value="&amp;7">
<label for="ch-maj7">maj7</label><input type="radio" name="mask" id="ch-maj7" value="maj7">
<label for="ch-m7">m7</label><input type="radio" name="mask" id="ch-m7" value="m7">
<label for="ch-mmaj7">mmaj7</label><input type="radio" name="mask" id="ch-mmaj7" value="mmaj7">
<label for="ch-dim7">dim7</label><input type="radio" name="mask" id="ch-dim7" value="dim7">
<label for="ch-m7b5">m7b5</label><input type="radio" name="mask" id="ch-m7b5" value="m7b5">
</span>
</div>
scales/modes:
<span class="scale-select">
<label for="scale-mj">io(mj)</label><input type="radio" name="mask" id="scale-mj" value="mj">
<label for="scale-do">do</label><input type="radio" name="mask" id="scale-do" value="do">
<label for="scale-ph">ph</label><input type="radio" name="mask" id="scale-ph" value="ph">
<label for="scale-ly">ly</label><input type="radio" name="mask" id="scale-ly" value="ly">
<label for="scale-ml">ml</label><input type="radio" name="mask" id="scale-ml" value="ml">
<label for="scale-mn">ae(mn)</label><input type="radio" name="mask" id="scale-mn" value="mn">
<label for="scale-lc">loc</label><input type="radio" name="mask" id="scale-lc" value="lc">
</span><br>
hm[<span class="scale-select">
<label for="scale-hm1">1</label><input type="radio" name="mask" id="scale-hm1" value="hm1">
<label for="scale-hm2">2</label><input type="radio" name="mask" id="scale-hm2" value="hm2">
<label for="scale-hm3">3</label><input type="radio" name="mask" id="scale-hm3" value="hm3">
<label for="scale-hm4">4</label><input type="radio" name="mask" id="scale-hm4" value="hm4">
<label for="scale-hm5">5</label><input type="radio" name="mask" id="scale-hm5" value="hm5">
<label for="scale-hm6">6</label><input type="radio" name="mask" id="scale-hm6" value="hm6">
<label for="scale-hm7">7</label><input type="radio" name="mask" id="scale-hm7" value="hm7">
</span>]<br>
mm[<span class="scale-select">
<label for="scale-mm1">1</label><input type="radio" name="mask" id="scale-mm1" value="mm1">
<label for="scale-mm2">2</label><input type="radio" name="mask" id="scale-mm2" value="mm2">
<label for="scale-mm3">3</label><input type="radio" name="mask" id="scale-mm3" value="mm3">
<label for="scale-mm4">4</label><input type="radio" name="mask" id="scale-mm4" value="mm4">
<label for="scale-mm5">5</label><input type="radio" name="mask" id="scale-mm5" value="mm5">
<label for="scale-mm6">6</label><input type="radio" name="mask" id="scale-mm6" value="mm6">
<label for="scale-mm7">7</label><input type="radio" name="mask" id="scale-mm7" value="mm7">
</span>]<br>
<span class="scale-select">
<label for="scale-wt">wt</label><input type="radio" name="mask" id="scale-wt" value="wt">
<label for="scale-wht">wht</label><input type="radio" name="mask" id="scale-wht" value="wht">
<label for="scale-hwt">hwt</label><input type="radio" name="mask" id="scale-hwt" value="hwt">
</span>
</fieldset>
<p>Voicing: <input id="voicer" value="0"> | length: <input id="length" value="{{ cols }}"></input></p>

<pre id="sompyler-text"></pre>

{% endblock %}
