{% extends "base.tmpl" %}
{% from 'yaml-input.tmpl' import yamlform %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Change password{% endblock %}

{% block main %}
<p>Hi {{ user }}, if you think your password is not known by yourself only, feel free to reset it here.</p>
<form method="post" action="">
<p>Old password: <input name="oldpassword" type="password" /> |
Change to: <input name="changetopw" type="password" /> |
Repeat: <input name="repeatpw" type="password" />
<button type="submit">Change password</button>
</form>
{% endblock main %}
