{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Manual testing tool suite for Sompyler{% endblock %}

{% block main %}
<p>Following pages may be of interest:</p>

<ol>
<li><a href="randomelody">randomelody</a>: A tool to generate a JSON list of more or less random tones, or a Sompyler source code, from an arbitrary seed text and a markov net specification.</li>
<li><a href="sompyle">sompyle</a>: A facility to render a Sompyler score to an audiofile. A Sompyler score can include instrument sound specifications to the tiniest hardly hearable nuance, besides of course a rather wide concept of musical notes. Log-in required to actual synthesize. Domain owner tells how if he can afford another friendly beta-tester (resources are limited).</li>
</ol>

{% endblock main %}
