{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}HTTP 400 Score Preprocessor Error{% endblock %}
{% block main %}

<h3>Last lines processed</h3>

<pre>
{{ last_lines }}
</pre>

<h3><strong>Error:</strong></h3>

<p>{{ msg }}</p>

{% endblock %}

