{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Rhythm/Melody from number{% endblock %}

{% block main %}

<style type="text/css">
.short { width: 4rem; }
</style>

{% if output_code is not none %}
<pre id="output">{{ output_code }}</pre>
{% endif %}

<form method="POST">
<dl>
<dt><label for="dec-rhythm">Rhythm number</label></dt>
<dd><input type="number" id="dec-rhythm" name="decimal-rhythm" value="{{ current_value }}"></dd>
<dt><label for="segments">segment length</label></dt>
<dd>
<input class="short" id="segments" type="number" min="0" name="segmentlen" value="{{ segmentlen[0] }}">
<input class="short" type="number" placeholder="chain length in segments" name="chainlen" min="0" value="{{ segmentlen[1] }}">
<input class="short" type="number" placeholder="measure length in chains" name="measurelen" min="0" value="{{ segmentlen[2] }}">
<input class="short" type="number" placeholder="offset" name="tick-offset" value="{{ tick_offset }}">
</dd>
<dt><label for="mel-props">Properties</label></dt>
<dd><input class="short" id="mel-props-up" type="number" name="props-up" value="{{ props_up }}"> steps to go up at once</dd>
<dd><input class="short" id="mel-props-down" type="number" name="props-down" value="{{ props_down }}"> steps to go down at once (omitted implies up-value)</dd>
<dd><input class="short" id="mel-props-base" type="number" name="props-base" value="{{ props_base }}"> share of same tone</dd>
<dd><input class="short" id="central-share" type="number" name="props-central" value="{{ props_central }}"> share resets to base tone</dd>
<dd><input class="short" id="offset" type="number" name="props-offset" value="{{ props_offset }}"> melody cycle offset</dd>
<dt><label for="dec-melody">Melody number</label></dt>
<dd><input type="number" id="dec-melody" name="decimal-melody" value="{{ decimal_melody }}"></dd>
</dl>
</tr>
<button>Sompyler code</button>
</form>
<table>

{% endblock %}
