{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Online Sompyler{% endblock %}
{% block main %}

<script type="text/javascript" src="/static/sompyler-code-analyzer.js"></script>
<script type="text/javascript">
$(function () { initialize_ui({{ json }}); });
</script>

{% endblock %}
