{% extends "base.tmpl" %}
{% block heading %}Interactive demos{% endblock %}
{% block title %}Analysis for Tone No. {{ number }}{% endblock %}

{% macro shape(s, title) %}
{% if s %}
<dt>{{ title }}</dt>
<dd>max={{ s.y_max | fsup }}{% for c in s.coords -%}; <nobr><strong>{{ loop.index }}</strong> x={{ (c.x * s.length) | fsup }}, y={{ c.y | fsup }}, z={{ c.z | fsup }}{% if c.edge %} (edge){% else %} (smooth){% endif %}</nobr>{% endfor %}
{% endif %}
{% endmacro %}

{% macro modulation(mod, title) %}
{% if mod %}
<dt>{{ title }}</dt>
{% for prop, value in mod.items() %}
<dd>{{ prop }}: {{ value }}</dd>
{% endfor %}
{% endif %}
{% endmacro %}

{% block main %}

<p>Listen to <a href="tone-{{number}}/sound">audio</a> | Display <a href="tone-{{number}}/outline">outline</a></p>

<h2>General properties</h2>
<dl>
<dt>Pitch</dt>
<dd>{{ pitch | fsup }}Hz
<dt>Duration</dt>
<dd>{{ length | fsup }}s</dd>
<dt>Stress</dt>
<dd>{{ stress | fsup }}dbFS</dd>
{% if 'shape_pitch' in properties %}
{% set s = properties.pop('shape_pitch') %}
{{ shape(s, "Shape pitch") }}
{% endif %}
{% if 'shape_stress' in properties %}
{% set s = properties.pop('shape_stress') %}
{{ shape(s, "Shape stress") }}
{% endif %}
{% for prop, value in properties.items() %}
<li><strong>{{ prop }}:</strong> {{ value }}</li>
{% endfor %}
</dl>

{% for partial in partials %}
<h2 id="partial-{{ loop.index }}">{{ partial.ff | fsup }}&times;f @ {{ partial.intensity | fsup }}dbFS</h2>

{% if partial.attack %}
<h3>Envelope</h3>
{% endif %}

<dl>
{{ shape(partial.attack, "Attack/Delay") }}
{{ shape(partial.sustain, "Delay/Sustain") }}
{{ shape(partial.tail, "Tail pressure") }}
{{ shape(partial.release, "Release") }}
</dl>

<h3>Oscillator</h3>

<dl>
<dt>Wave form generator</dt>
<dd><code>{{ partial.oscillator }}</code></dd>
{{ modulation(partial.frequency_modulation, "Frequency modulation") }}
{{ modulation(partial.amplitude_modulation, "Amplitude modulation") }}
{{ shape(partial.frequency_variation, "Frequency variation") }}
{{ shape(partial.wave_shape, "Wave shape") }}
</dl>

{% endfor %}

{% endblock %}
