[submodule "sompyler"]
	path = sompyler
	url = https://gitlab.com/flowdy/sompyler.git
[submodule "neusician"]
	path = neusician
	url = https://gitlab.com/flowdy/neusician.git
[submodule "AddOns/score_editors/vue3js-app"]
	path = AddOns/score_editors/vue3js-app
	url = _gitea@git.uugrn.org:sdk/vue3js-app.git
