body {
	color: rgb(148, 155, 168);
	background-color: #111;
}

a:link {
	color: lightblue;
}

input, select, button, .ui-button, .ui-spinner-input {
       background: lightgrey;
}

textarea {
	background-color: #bbb;
	font-family:monospace;
}
